body {
	max-width: 1920px;
	margin: auto;
}

* {
	font-family: 'Inter';
	font-style: normal;
}

// header
.top-header {
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
	align-items: center;
	width: 100%;
	@media all and (max-width: 650px){
		flex-direction: column;
		padding-inline: 0;
	}
	.name {
		font-size: 26px;
	}
	&__nav{
		@media all and (max-width: 650px){
			width: 100%;
			padding: 0 0 0 0;
		}
		ul {
			display: flex;
			list-style-type: none;
			font-size: 18px;
			margin-bottom: 0;
			@media all and (max-width: 650px){
				width: 100%;
				padding: 0 0 0 0;
			}
			@media all and (max-width: 1000px){
				font-size: 14px;
			}
		}
		li {
			padding-inline: 10px;
			@media all and (max-width: 650px){
				flex: 1;
				padding-block: 1em;
				text-align: center;
			}
		}
		a {
			text-decoration: none;
			color: #000
		}
		&-social-link{
			width: 20px;
		}
	}
}

// footer
.footer{
	background-color: #212925;
	padding-bottom: 40px;
	display: flex;
	@media all and (max-width: 1000px){
		align-content: center;
	}
	@media all and (max-width: 650px){
		padding: 20px 20px 40px 20px;
	}
	& .container{
		width: 100%;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
}

// picture header et contact

.picture {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
	@media all and (max-width: 1180px){
		flex : 2;
	}
	@media all and (max-width: 1000px){
		width: 50%;
	}
	@media all and (max-width: 650px) {
		width: 80%;
	}
	img {
		width: 100%;
	}
	&.right::before {
		content: ' ';
		background-color: #BEB45A;
		width: 374px;
		height: 329px;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
		@media all and (max-width: 1000px){
			width: 100%;
			height: 30%;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: -1;
		}
		@media all and (max-width: 650px) {
			height: 150px;
			z-index: -1;
		}
	}
	&.left::before {
		content: ' ';
		background-color: #E5975F;
		width: 374px;
		height: 329px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		@media all and (max-width: 1000px){
			width: 100%;
			height: 30%;
			position: absolute;
			bottom: auto;
			top: 0;
			left: 0;
			z-index: -1;
		}
		@media all and (max-width: 650px) {
			height: 150px;
		}
	}
	
}

// a propos de moi 
#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
	@media all and (max-width: 1180px){
		align-items: center;
	}
	@media all and (max-width: 1000px) {
		flex-direction: column;
	}
	@media all and (max-width: 650px){
		padding-inline: 2em;
		padding-block: 2em;
	}
	& p{
		@media all and (max-width: 1180px){
			width: 100%;
		}
	}

}

.about-me {
	flex: 2;
	&__title {
		margin-top: 1em;
		margin-bottom: 60px;
		font-size: 30px;
		@media all and (max-width: 1180px){
			margin-top: 0;
			margin-bottom: 1em;
		}
		@media all and (max-width: 1000px) {
			text-align: center;
			margin-top: 1em;
		}
	}
	&__introduction {
		font-family: 'Spectral';
		font-weight: 800;
		font-style: italic;
		font-size: 22px;
		width: 55%;
		margin-bottom: 8px;
		@media all and (max-width: 1180px){
			width: 100%;
		}
	}
	&__text {
		width: 70%;
		font-size: 18px;
		@media all and (max-width: 1180px){
			width: 100%;
		}
	}
}

.title{
	text-align: center;
	padding-block: 2em;
}

// portfolio
.gallery .nav {
	justify-content: center;
}

.gallery-item {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: .5em;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #000;
	background-color: #BEB45A;
	border-radius:0 ;
}
.nav-pills .nav-link {
	color: #000
}
.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
	&::after{
		content: "";
		display: block;
		padding-bottom: 100%;
	}
}

.mg-prev, .mg-next {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
}

// citations
.quote {
	font-family: 'Spectral';
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em;
	&__text {
		font-family: Spectral;
		font-style: italic;
		font-weight: 300;
		font-size: 38.305px;
	}
	&__author {
		font-family: Spectral;
		font-weight: 800;
		font-size: 22px;
	}
}

// mes servives
#services {
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
	& .container {
		justify-content: space-between;
		display: flex;
		padding : 2em 0;
		@media all and (max-width: 1000px){
			flex-direction: column;
		}
		&::before{
			content: ' ';
			background-color: #1C6474;
			position: absolute;
			width: 100%;
			height: 30%;
			bottom: 0;
			left: 0;
			z-index: 0;
			@media all and (max-width: 1000px){
				width: 30%;
				height: 100%;
				bottom: 0;
				right: 0;
				left: auto;
				z-index: 0;
			}
		}
	}
}

.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
	@media all and (max-width: 1000px){
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0;
	}
	@media all and (max-width: 650px){
		max-width: 90%;
	}
	&__description{
		@media all and (max-width: 1000px){
			margin-bottom: 1em;
		}
	}
	&__price{
		&-amount{
			font-size: 20px;
			margin-bottom: 8px;		
		}
		&-addOn{
			margin: 0;
		}
	}
}

// Une question ? Une demande de devis ?
#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
	@media all and (max-width: 650px){
		padding-inline: 2em;
		padding-block: 2em;
	}
	& .container {
		display: flex;
		@media all and (max-width: 1180px){
			align-items: center;
		}
		@media all and (max-width: 1000px){
			flex-direction: column;
		}
	}
	& .picture.right {
		@media all and (max-width: 1000px){
			margin-top: 1em;
		}
	}
	
}
.form-container {
	flex : 2;

}
form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
	@media all and (max-width: 650px) {
		width: 100%;
	}
	& input {
		width: 100%;
		background-color: transparent;
		border: solid 1px;
		height: 2.5em;
		margin-bottom: 20px;
	}
	& textarea {
		width: 100%;
		background-color: transparent;
		border: solid 1px;
		height: 5em;
		line-height: 2.5em;
		font-size: 1.2em;
		margin-bottom: 20px;
	}
}
input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}